body {
  font-family: "Poppins", sans-serif;
  font-style: normal;;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Poppins", sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
  font-size: 22px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.mainRow {
  display: flex;
  width: 100%;
}

.main-content {
  width: 82%;
  padding: 20px;
  transition: all ease .3s;
}

.main-content.colapsado {
  width: 96%;
}

.sidebar {
  width:18%;
  overflow: hidden;
  transition: all ease .3s;
}

.sidebar.colapsado {
  width:4%;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#fff;
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px;
}
.navbar .dropdown-menu:before {
  content:"";
  display: block;
  border-color: transparent;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  line-height: 0;
  border-width: 10px 10px;
  border-top-color: transparent;
  border-bottom-color: #fff;
  top: -20px;
  left: 47%;
}



 .hideMenu.menu-hide {
  display: none;
 }



div#sidebarMenu {
  padding-top: 50px;
  
}

ul#menuPrincipal {
  max-width: 95%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.sidebar {
  .nav-link {
    font-size: 17px;
    padding: 12px 18px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
  }
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  color: #793245;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.titulos-interiores {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn-bd-primary {
  --bd-violet-bg: #793245;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #3880bb;
  --bs-btn-hover-border-color: #3880bb;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #3880bb;
  --bs-btn-active-border-color: #3880bb;
}

.bd-mode-toggle {
  z-index: 1500;
}

.rounded-pill {
  font-size: 16px;;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.main-color-bg {
  background-color: #793245;
  color: #fff;
}

.main-color-bg:hover {
  background-color: #461522;
  color: #fff;
}

.main-color-text {
  color: #793245;
}

hr {
  border-top-color:#793245;
  border-top-width: 2px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.contenidos-table {
  width: 100%;
  thead {
    border-bottom: 1px solid #ccc;
  }
  th {
    color: #793245;
  }
  th, td {
    font-size: 15px;
    padding: 5px;
  }
  tbody tr:hover {
    background-color: #EDF2F7;
  }
  td:last-child {
    text-align: center;
    width: 10%;
  }
  th:last-child {
    width: 10%;
  }
  a {
    display: block;
  }
}
.btn-action {
  background-color: #F8BC43;
  border-color: #F8BC43;
  color:#fff
}

.btn-action:hover {
  background-color: #d99918;
  border-color: #d99918;
  color:#fff;
}

.form-select, .form-control {
  background-color: #F7F3F2;
  border:0
}

.filtros-container {
  border-bottom: 2px solid #793245;
}

.filtro-btn {
  background-color: #793245;
  display: inline-block;
  padding: 10px;
  min-width: 200px;
  color: #fff;
  cursor: pointer;
}

.filtros {
  padding-top: 15px;
}

.filtros-list {
  flex-wrap: wrap;
  p {
  margin-right: 20px;
  cursor: pointer;
  }
}

.form-check-input {
  border-radius: 0px !important;
  border: 2px solid #999;
}

.card {
  margin: 0px 20px 20px 10px;
  width: 100%;
  border:0;
  border-radius: 20px;
}
.accordion-body {
  padding: 30px;
}

.card-body {
  .accordion-body {
    padding: 0px;
  }
}

.contenidos-card {
  max-width: 30%;
  min-height: 300px;
}

.sombra {
  box-shadow: 0px 0px 8px #c5c5c5;
  transition: box-shadow 0.5s ease-in-out;
}

.sombra:hover {
  box-shadow: 0px 0px 12px #999;
}

.contenidos-card-interior {
  border:0;
  flex:1;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion {
  margin-top: 20px;
  .accordion-item {
    .accordion-button {
      background-color: #EEE2DD;
      color: #333;
      font-weight: bold;
      padding: 5px 20px;
      margin-bottom: 10px;
      border:none;
      &:after {
        background-image: none;
      }
    }
  }
  ul {
    li {
      padding: 10px 0;
    }
    list-style-type: none;
    a {
      display: flex;
      justify-content: space-between;
    }
    i {
      margin-right: 20px;
    }
    i:before {
      background-color: red;
      color: #fff;
      padding: 5px;
      font-size: 22px;
      border-radius: 3px;
    }
  }
}

.accordion-big {
  .accordion-item {
    .accordion-button {
      padding: 15px 20px;
    }
  }
}

.accordion-body {

  li {
  }
  li:hover {
    background-color: #f6f6f6;
    a {
      color:#793245;
      font-weight: 600;
    }
  }
}

#menuAccordion {
  li a {
    display: block;
  }
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border:none;
}

.agenda-docente {
  a {
    margin-bottom: 10px;
  }
}

.bloques {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #793245;
  flex-wrap: wrap;
  .bloque {
    display: flex;
    p {
      margin-bottom: 0;
    }
    .cuadrado {
      width: 30px;
      display: flex;
      align-items: center;
      span {
        display: block;
        width: 14px;
        height: 14px;
      }
    }
  }
}

.content {
  padding: 7rem 0; }

.form-control:active, .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  
}

.form-control:focus {
  background-color: #F6f6f6;
}

#calendar {
  margin: 0 auto; }
  #calendar .fc-view-container {
    background-color: #fff;
}
  #calendar .fc-toolbar.fc-header-toolbar .fc-center {
    display: block; }

#calendar-container {
 }

.fc-header-toolbar {
  /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
 }

.configuration-tables-container {
  margin: 20px 0px 30px 0;
  .d-flex {
    select {
      max-width: 150px;
    }
  }
}


/*------------------------------------- Tablet ------------------------------------ */


@media screen and (max-width: 1366px) {
  .main-content {
      width: 76%;
  }
  
  .sidebar {
   width:24%;
  }
}

@media screen and (max-width: 1024px) {
  .contenidos-card {
      max-width: 340px !important;
  }
}

/*------------------------------------------- Mobile ------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .contenidos-card {
      max-width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }

  .sidebar {
    width: auto;
  }

  .hideMenu.menu-hide {
    display: initial;
   }
}
@media (min-width: 768px) {

  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
  
}

@media (max-width: 767.98px) {
  .fc-toolbar {
    display: block !important;
    text-align: center; }
    .fc-toolbar .fc-center {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px; } 
}