@import url('./tablets.css');
@import url('./mobile.css');

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;;
}

h1, h2, h3, h4, h5, h5 {
  font-family: "Poppins", sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

h1 {
  margin-bottom: 20px;
  font-size: 25px;
}

h5 {
  font-size: 18px ;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.mainRow {
  display: flex;
  width: 100%;
}

.main-content {
  width: 75%;
  background-color: #EDF2F7;
  padding: 20px;
  transition: all ease .3s;
}

.main-content.colapsado {
  width: 96%;
}

.sidebar {
  width:25%;
  overflow: hidden;
  transition: all ease .3s;
}

.sidebar.colapsado {
  width:4%;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:#fff;
}

.navbar .dropdown-menu {
  border: none;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px;
}
.navbar .dropdown-menu:before {
  content:"";
  display: block;
  border-color: transparent;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  line-height: 0;
  border-width: 10px 10px;
  border-top-color: transparent;
  border-bottom-color: #fff;
  top: -20px;
  left: 47%;
}



 .hideMenu.menu-hide {
  display: none;
 }

@media (min-width: 768px) {

  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
  
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
  }

  .sidebar {
    width: auto;
  }

  .hideMenu.menu-hide {
    display: initial;
   }
}

div#sidebarMenu {
  padding-top: 50px;
  
}

.sidebar {
  .nav-link {
    font-size: 0.875rem;
    padding: 18px;
    font-weight: 500;
    color: #333;
    font-weight: bold;
  }
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  color: #fff;
  background-color: #59bbab;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.titulos-interiores {
  font-size: 20px;
}

.btn-bd-primary {
  --bd-violet-bg: #5199d3;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #3880bb;
  --bs-btn-hover-border-color: #3880bb;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #3880bb;
  --bs-btn-active-border-color: #3880bb;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.main-color-bg {
  background-color: #5199d3;
}

.main-color-text {
  color: #5199d3;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.contenidos-table {
  width: 100%;
  th {
    color:#fff;
    font-weight: 300;
  }
  th, td {
    font-size: 15px;
    padding: 5px;
  }
  tbody tr:hover {
    background-color: #EDF2F7;
  }
  td:last-child {
    text-align: center;
    width: 10%;
  }
  th:last-child {
    width: 10%;
  }
  a {
    display: block;
  }
}
.btn-action {
  background-color: #E9416D;
  border-color: #E9416D;
  color:#fff
}

.btn-action:hover {
  background-color: #e0194e;
  border-color: #e0194e;
  color:#fff;
}

.form-select {
  background-color: #F7FAFC;
  border:0
}

.filtros-container {
  border-bottom: 2px solid #5199d3;
}

.filtro-btn {
  background-color: #5199d3;
  display: inline-block;
  padding: 10px;
  min-width: 200px;
  color: #fff;
  cursor: pointer;
}

.filtros {
  padding-top: 15px;
}

.filtros-list p {
  margin-right: 20px;
  cursor: pointer;
}

.form-check-input {
  border-radius: 0px !important;
  border: 2px solid #999;
}

.card {
  margin: 0px 20px 20px 0;
  width: 100%;
  border:0;
  border-radius: 20px;
}
.selectores {
  padding: 30px;
}

.contenidos-card {
  max-width: 30%;
  min-height: 300px;
}

.contenidos-card-interior {
  border:0;
  flex:1;
}

.accordion {
  margin-top: 20px;
  .accordion-item {
    .accordion-button {
      background-color: #5199d3;
      color: #fff;
      font-weight: bold;
      padding: 5px 20px;
      margin-bottom: 10px;
      &:after {
        background-image: none;
      }
    }
  }
  ul {
    li {
      padding: 10px 0;
    }
    list-style-type: none;
    a {
      display: flex;
      justify-content: space-between;
    }
    i {
      margin-right: 20px;
    }
    i:before {
      background-color: red;
      color: #fff;
      padding: 5px;
      font-size: 22px;
      border-radius: 3px;
    }
  }
}

.accordion-body {
  padding: 0;
}

